@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e4e4e7;
}

.shadow-2xl {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

/* Enhance the card shadows for more depth */
article {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.1);
}